@tailwind base;
@tailwind components;
@tailwind utilities;

.login-gradient {
  background: linear-gradient(
    135deg,
    rgba(27, 94, 32, 0.95) 0%,
    rgba(46, 125, 50, 0.85) 100%
  );
}

:root {
  --topbar-h: 56px;
  --sidebar-w: 260px;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
