services:
  postgres:
    image: postgres:17
    container_name: logitrack-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backup:/backup
      - ./restore.sh:/docker-entrypoint-initdb.d/restore.sh

volumes:
  postgres_data:
